html {
  font-family: 'Roboto', sans-serif;
}
/* 
body {
  margin: 0;
}
 
body > div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
} */

.cstm-container {
  min-height: 100vh;
  background-color: #f8f8f8;
}

.cstm-profile-bg-img {
  filter: blur(0.8px);

  position: absolute;

  height: 100%;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a.btn.btn-light.card-link > img {
  height: 16px;
  width: 16px;
}
